.BOTTLE {
  background-image: url('../assets/imgs/icons/drugList/types/bottle.svg');
}

.BLISTER {
  background-image: url('../assets/imgs/icons/drugList/types/blister.svg');
}

.PACKAGING {
  background-image: url('../assets/imgs/icons/drugList/types/packaging.svg');
}

.AMPULE {
  background-image: url('../assets/imgs/icons/drugList/types/ampule.svg');
}

.CAPSULE {
    background-image: url('../assets/imgs/icons/drugList/types/capsule.svg');
}

.NEBULI {
  background-image: url('../assets/imgs/icons/drugList/types/nebuli.svg');
}

.VACCINE {
  background-image: url('../assets/imgs/icons/drugList/types/vaccine.svg');
}

.OINTMENT {
    background-image: url('../assets/imgs/icons/drugList/types/ointment.svg');
}

.SYRINGE {
  background-image: url('../assets/imgs/icons/drugList/types/syringe.svg');
}

.UNKNOWN {
    background-image: url('../assets/imgs/icons/drugList/types/unknown.svg');
}

